
<footer class="container-footer">
    <div class="fucsiaDos">

    </div>
    <section class="content-footer">
        <div class="content-info about-us">
            <a href="/nosotros">Nosotros</a>
            <a href="/metodos-pago">Métodos de pago</a>
        </div>
        <div class="social content-info">
            <p>Síguenos</p>
            <ul class="redes">
                <li> 
                    <a href="https://www.facebook.com/"> <i class='bx bxl-facebook-circle'></i> </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/"><i class='bx bxl-instagram-alt'></i></a>
                </li>
                <li>
                    <a href="https://www.twitter.com/"> <i class='bx bxl-twitter'></i> </a>
                </li>
                <li>
                    <a href="https://www.tiktok.com/"><i class='bx bxl-tiktok'></i></a>
                </li>
            </ul>
        </div>
        <div class="info content-info">
            <p>CENTRO DE ATENCIÓN AL CLIENTE</p>
            <p>Lunes a Viernes de 08:30 a 18:30hs / 
                Sábados de 9:00 a 17:30hs</p>
        </div>
    </section>
    <script src="/js/main.js"></script>
</footer>