<header class="header-nav">
    <section class="title_al">
        <div class="menu-responsive">
            <p class="shop-name">Shoe's Station</p>
        </div>
        <i class='bx bx-menu' id="btnMenu"></i>
    </section>
    <div class="fucsia">

    </div>
    <section class="container_al">
        <div class="logotipo_al header-al">
            <div>
                <a href="/"><img src="/images/logo2.1.svg" class="logo" alt=""></a>
            </div>  
        </div>
        <div class="header-al">
            <input type="text" class="search" placeholder="Buscar productos...">
            <button type="submit" class= "button-search"><i class='bx bx-search-alt-2'></i></button>
        </div>
        <div class="icons_al header-al">
            <% if (typeof usuario == "object") { %>
             <div class="user-login-acl">
               
                <i class='bx bxs-user-circle'></i> <%= usuario.nombre %>  
                <a href='/logout' style="color:crimson;"><i class='bx bx-log-out-circle'></i></a>

             </div>
            <% } else { %>
                 <a href="/login"><i class='bx bxs-user'></i></a> 
            <% } %>

            <a href="/carrito"><i class='bx bxs-cart'></i></a>
        </div>
    </section>
    <nav class="nav-menu-al" id="menu">
        <ul class="menu-al">
            <li><a href="/catalogo?generos%5B%5D=hombre">HOMBRE</a></li>
            <li><a href="/catalogo?generos%5B%5D=mujer">MUJER</a></li>
            <li><a href="/catalogo">OFERTAS</a></li>
            <li><a href="/contacto">CONTÁCTANOS</a></li>
        </ul>
    </nav>
</header>