<div class="modal isNotVisible" id="modal1">
    <div class="modal-dialog">
        <header class="modal-header">
            Mensaje Enviado
            <button class="close-modal" aria-label="close modal" data-close>✕</button>
        </header>
        <section class="modal-content">
            <p>Gracias por tu consulta <span id="nombre"></span> ¡Muchas gracias por su consulta! En breve nuestros ejecutivos de Atención al Cliente se contactarán con usted</p>
            <p>Tu numero de ticket es <span id="ticket"></span></p>
            <p> Nos comunicaremos a tu numero de contacto <span id="telefono"></span> por tu consulta <span id="mensaje"></span></p>
        </section>
        <footer class="modal-footer"><p>Texto del footer del modal para info adicional</p></footer>
    </div>
</div>
