<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paginador</title>
</head>
<body>
    <h1>Soy un ejemplo de paginacion con javascript</h1>
    <div class="contenedor">

        <ul>
            <% elementos.forEach(element => { %>
                <li><%= element.nombre %></li>
            <% }) %>
        </ul>

        <div class="control"> 
            <a href="/?pagina=<%=paginaAnterior %>" class="btn-prev">Anterior</a> 
            <p><%=paginaActual %></p>
            <a href="/?pagina=<%=paginaSiguiente %>" class="btn-next">Siguiente</a>
        </div>
    </div>
</body>
</html>
