<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/addProduct.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Orbitron:wght@600&family=Play:wght@700&family=Prompt:wght@200;400&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/home.css">
    
    
    <title>Agregar Productos</title>
</head>
<body>
    
    <header class="header-nav">
        <section class="title_al">
            <div class="menu-responsive">
                <p class="shop-name">Shoe's Station</p>
            </div>
            <i class='bx bx-menu' id="btnMenu"></i>
        </section>
        <div class="fucsia">

        </div>
        <section class="container_al">
            <div class="logotipo_al header-al">
                <div>
                    <img src="images/logo2.1.png" class="logo" alt="">
                </div>  
            </div>
            <div class="header-al">
                <input type="text" class="search" placeholder="Search">
                <button type="submit" class= "button-search"><i class='bx bx-search-alt-2'></i></button>
            </div>
            <div class="icons_al header-al">
                <a href=""><i class='bx bxs-user'></i></a>
                <a href=""><i class='bx bxs-cart'></i></a>
            </div>
        </section>
        <nav class="nav-menu-al" id="menu">
            <ul class="menu-al">
                <li><a href="">HOMBRE</a></li>
                <li><a href="">MUJER</a></li>
                <li><a href="">MARCAS</a></li>
                <li><a href="">OFERTAS</a></li>
                <li><a href="">NOSOTROS</a></li>
            </ul>
        </nav>
    </header>

      

    <section class = "ca_formediction">
        <form action="" method="POST">
            <h2 id="title_editar" >Agregar un Producto</h2>

            <p>
                <label class="label_edition" for="nombre_producto">Nombre del Producto:</label>
                <input class="ca_input_add" type="text" name = "nombre_producto" id="nombre_producto">
            </p>
    
           <p>
            <label  class="label_edition" for="codigo_producto">Código:</label>
            <input class="ca_input_add"  type="text" name ="codigo_producto" id="codigo_producto">
           </p>
       
           <p>
            <label  class="label_edition"for="imagen_producto">Agregar imagen:</label>
            <input class="ca_input_add"  type="file" name="imagen_producto" id="imagen_producto"> (acepta solo formatos.jpg, .png)</p>

           <p>
            <label class="label_edition" for="precio_producto">Precio del Producto:</label>
            <input class="ca_input_add"  type="text" name = "precio_producto" id="precio_producto">
           </p>
            
            <p>
                <label  class="label_edition" for="descuento_producto">Precio Oferta:</label>
                <input class="ca_input_add"  type="text" name = "descuento_producto" id="descuento_producto">
        
            </p>
           
            <p>
                <label class="label_edition" for="descripcion_producto">Descripción del Producto:</label> <br>
                <textarea class="ca_input_add"  name="descripcion_producto" id="descripcion_producto" cols="30" rows="10"></textarea>
                               
            </p>
        
             
            <p>
    
               <label class="label_edition" for="">Talles Disponibles:</label> <br>
            
                <input type="checkbox" name="talle_36" value="talle_36"> 36
                <input type="checkbox" name="talle_37" value="talle_37"> 37
                <input type="checkbox" name="talle_38" value="talle_38"> 38
                <input type="checkbox" name="talle_39" value="talle_39"> 39
                <input type="checkbox" name="talle_40" value="talle_40"> 40
                <input type="checkbox" name="talle_41" value="talle_41"> 41
            </p>
            
              
    
    
            <p>
                <label class="label_edition" for="marca"><span>Marcas:</span></label>
                    <select  class="ca_input_add" id="marca" name="marca">
                        <option value="Adidas">Adidas</option>
                        <option value="Under Armour">Under Armour</option>
                        <option value="Nike">Nike</option>
                    
                    </select>
            </p>
    
            <p>
                <label class="label_edition" for="categoria"><span>Categoría:</span></label>
                    <select class="ca_input_add" id="categoria" name="categoria">
                    <option value="hombre">Hombre</option>
                    <option value="mujer">Mujer</option>
                    
                    </select>
            </p>
    
            <p>
                <label class="label_edition" for="status"><span>Status:</span></label>
                    <select class="ca_input_add" id="status" name="status">
                    <option value="activo">Activo</option>
                    <option value="inactivo">Inactivo</option>
                    
                    </select>
              </p>
    
            <label class="label_edition" for="stock">Stock</label>
            <input class="ca_input_add" type="number" name ="stock" id="stock">
      
                      
            <input type="reset" value="Cancelar" id="btn_cancelar">
            <input type="button" value="Agregar Producto" id="btn_agregar">
            
         
    
        </form>

    </section>
    
    <footer class="container-footer">
        <div class="fucsiaDos">
    
        </div>
        <section class="content-footer">
            <div class="content-info about-us">
                <a href="">Nosotros</a>
                <a href="">Información</a>
            </div>
            <div class="social content-info">
                <p>Siguenos</p>
                <ul class="redes">
                    <li> 
                        <a href=""> <i class='bx bxl-facebook-circle'></i> </a>
                    </li>
                    <li>
                        <a href=""><i class='bx bxl-instagram-alt'></i></a>
                    </li>
                    <li>
                        <a href=""> <i class='bx bxl-twitter'></i> </a>
                    </li>
                    <li><i class='bx bxl-tiktok'></i></li>
                </ul>
            </div>
            <div class="info content-info">
                <p><strong>CENTRO DE ATENCIÓN AL CLIENTE</strong></p>
                <p>Lunes a viernes de 08:30 a 18:30hs <br>
                    Sábados de 9 a 17:30hs</p>
            </div>
        </section>
    </footer>
    
    <script src="home-js/home.js"></script>
    
</body>
</html>