<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/carrito.css" rel="stylesheet">
    <title>Mi Carrito</title>
</head>
<body>
    

    <div class= "titulo_carrito">
        <h3>Mi Carrito</h3>
    </div>
    
    //<section class = "label_carrito">
        
        <div class= "label_cantidad">
            <h3> label cantidad</h3>
        </div>
    
        <div class= "label_subtotal">
            <h3> label Subtotal</h3>
        </div>

    </section>//
    

    

    <section class = "producto_carrito">

        <div class= "imagen_producto">
          
            <img src="/images/mn_002.jpg" alt="">    
        </div>
    
        <div class= "info_producto">
            
            <div class = "nombre_producto">
                <h3>Zapatillas Adidas CoreRacer</h3>
            </div>

            <div class = "talle_producto">
                <h4>Talle: 39</h4>
            </div>

            <div class = "cod_producto">
                <h4>Código: SKU-4563-002</h4>
            </div>

        </div>
             
        <div class= "cantidad_producto">
            <h3>1</h3>
        </div>
    
        <div class= "subtotal_producto">
            <h3>$12.500</h3>
        </div>

    </section>
    

    

</body>
</html>