<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/27f832f48b.js" crossorigin="anonymous"></script>
    <link href="css/mobile.css" rel="stylesheet">
    <link href="css/detalle_producto.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Orbitron:wght@600&family=Play:wght@700&family=Prompt:wght@200;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Orbitron:wght@600&family=Play:wght@700&family=Prompt:wght@200;400&family=Russo+One&display=swap" rel="stylesheet">
    <title>Detalle del Producto</title>
</head>


<body>
    <header class="header-nav">
        <section class="title_al">
            <div class="menu-responsive">
                <p class="shop-name">Shoe's Station</p>
            </div>
            <i class='bx bx-menu' id="btnMenu"></i>
        </section>
        <div class="fucsia">

        </div>
        <section class="container_al">
            <div class="logotipo_al header-al">
                <div>
                    <img src="images/logo2.1.png" class="logo" alt="">
                </div>  
            </div>
            <div class="header-al">
                <input type="text" class="search" placeholder="Search">
                <button type="submit" class= "button-search"><i class='bx bx-search-alt-2'></i></button>
            </div>
            <div class="icons_al header-al">
                <a href=""><i class='bx bxs-user'></i></a>
                <a href=""><i class='bx bxs-cart'></i></a>
            </div>
        </section>
        <nav class="nav-menu-al" id="menu">
            <ul class="menu-al">
                <li><a href="">HOMBRE</a></li>
                <li><a href="">MUJER</a></li>
                <li><a href="">MARCAS</a></li>
                <li><a href="">OFERTAS</a></li>
                <li><a href="">NOSOTROS</a></li>
            </ul>
        </nav>
    </header>
   

    <div class="ca_caja_imagenproducto">
        <img src="/images/mn_002.jpg" alt="">            
    </div>
    
    <div class="ca_caja_nombreproducto">
        <h1>Zapatillas Adidas CoreRacer</h1>
    </div>

    <div class="ca_caja_codigo">
        <h5>Código: zap-05875</h5>
    </div>

    <div class="ca_caja_precio">
        <p>$18.500</p>
    </div>
    
       
    <div class="ca_caja_labeltalle">
        <p>Seleccionar Talle:</p> 
    </div>

    <div class="ca_caja_talles">

                    
        <li class="talle">
            <span>36</span>
        </li>

        <li class="talle">
            <span>37</span>
        </li>

        <li class="talle">
            <span>38</span>
        </li>
        <li class="talle">
            <span>39</span>
        </li>
        <li class="talle">
            <span>40</span>
        </li>
        <li class="talle">
            <span>41</span>
        </li>
        <li class="talle">
            <span>42</span>
        </li>
        <li class="talle">
            <span>43</span>
        </li>
    
                     
    </div>


<section class ="ca_caja_agregar">

    <div class = "ca_cantidad">
        <span>1</span>
    
    </div>

    </div class = "ca_boton_agregar">
        <a class = "bottom" href="#">Agregar al Carrito</a>
    </div>
     

</section>

    <div class="ca_caja_descripcion">
           <p>El par más cómodo y ligero para running. Las Zapatillas Nike ofrecen la combinación ideal de sujeción para correr y estilo urbano. Tus pisadas serán livianas en todo momento. Su diseño clásico te permitirá combinarlo con diferentes prendas y fueron confeccionados con materiales transpirables para mantener tus pies frescos.</p>
    </div>

    <div class="ca_caja_atributos">
        <ul>
            <li>Género: Mujer</li>
            <li>Marca: Nike</li>
        </ul>
    </div>
    <footer class="container-footer">
        <div class="fucsiaDos">

        </div>
        <section class="content-footer">
            <div class="content-info about-us">
                <a href="">Nosotros</a>
                <a href="">Información</a>
            </div>
            <div class="social content-info">
                <p>Siguenos</p>
                <ul class="redes">
                    <li> 
                        <a href=""> <i class='bx bxl-facebook-circle'></i> </a>
                    </li>
                    <li>
                        <a href=""><i class='bx bxl-instagram-alt'></i></a>
                    </li>
                    <li>
                        <a href=""> <i class='bx bxl-twitter'></i> </a>
                    </li>
                    <li><i class='bx bxl-tiktok'></i></li>
                </ul>
            </div>
            <div class="info content-info">
                <p><strong>CENTRO DE ATENCIÓN AL CLIENTE</strong></p>
                <p>Lunes a viernes de 08:30 a 18:30hs <br>
                    Sábados de 9 a 17:30hs</p>
            </div>
        </section>
    </footer>

    <script src="home-js/home.js"></script>

</body>
</html>