<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/27f832f48b.js" crossorigin="anonymous"></script>
    <link href="css/mobile.css" rel="stylesheet">
    <link href="css/detalle_producto.css" rel="stylesheet">
    <title>Detalle del Producto</title>
</head>
<body>
   

    <div class="img_product">
        <img src="/images/mn_002.jpg" alt="">            
    </div>
    
    <div class="product_name">
        <h1>Zapatillas Adidas CoreRacer</h1>
    </div>

    <div>
        <h5>Código: zap-05875</h5>
    </div>

    <div class="price_product">
        <p>$18.500</p>
    </div>
    
    <section>


    </section>
    
    <div class="label_talle">
        <p>Seleccionar Talle:</p> 
    </div>

    <div class="talle_product">

                    
        <li class="talle">
            <span>36</span>
        </li>

        <li class="talle">
            <span>37</span>
        </li>

        <li class="talle">
            <span>38</span>
        </li>
        <li class="talle">
            <span>39</span>
        </li>
        <li class="talle">
            <span>40</span>
        </li>
        <li class="talle">
            <span>41</span>
        </li>
        <li class="talle">
            <span>42</span>
        </li>
        <li class="talle">
            <span>43</span>
        </li>
    
     
     
           
    </div>


<section class ="ca_container_agregar">

    <div class = "cantidad">
        <span>1</span>
    
    </div>

    </div class = "boton_agregar">
        <a class = "bottom" href="#">Agregar al Carrito</a>
    </div>

</section>

          
        
    <div class="description_product">
        
        <p>El par más cómodo y ligero para running. Las Zapatillas Nike ofrecen la combinación ideal de sujeción para correr y estilo urbano. Tus pisadas serán livianas en todo momento. Su diseño clásico te permitirá combinarlo con diferentes prendas y fueron confeccionados con materiales transpirables para mantener tus pies frescos.</p>
    </div>

    <div class="atributos_product">
        <ul>
            <li>Género: Mujer</li>
            <li>Marca: Nike</li>
         

        </ul>
    </div>
</section>
</body>
</html>