<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/27f832f48b.js" crossorigin="anonymous"></script>
    <link href="css/mobile.css" rel="stylesheet">
    <link href="css/detalle_producto.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Orbitron:wght@600&family=Play:wght@700&family=Prompt:wght@200;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Orbitron:wght@600&family=Play:wght@700&family=Prompt:wght@200;400&family=Russo+One&display=swap" rel="stylesheet">
    <title>Detalle del Producto</title>
</head>
<body>
   

    <div class="ca_caja_imagenproducto">
        <img src="/images/mn_002.jpg" alt="">            
    </div>
    
    <div class="ca_caja_nombreproducto">
        <h1>Zapatillas Adidas CoreRacer</h1>
    </div>

    <div class="ca_caja_codigo">
        <h5>Código: zap-05875</h5>
    </div>

    <div class="ca_caja_precio">
        <p>$18.500</p>
    </div>
    
       
    <div class="ca_caja_labeltalle">
        <p>Seleccionar Talle:</p> 
    </div>

    <div class="ca_caja_talles">

                    
        <li class="talle">
            <span>36</span>
        </li>

        <li class="talle">
            <span>37</span>
        </li>

        <li class="talle">
            <span>38</span>
        </li>
        <li class="talle">
            <span>39</span>
        </li>
        <li class="talle">
            <span>40</span>
        </li>
        <li class="talle">
            <span>41</span>
        </li>
        <li class="talle">
            <span>42</span>
        </li>
        <li class="talle">
            <span>43</span>
        </li>
    
                     
    </div>


<section class ="ca_caja_agregar">

    <div class = "ca_cantidad">
        <span>1</span>
    
    </div>

    </div class = "ca_boton_agregar">
        <a class = "bottom" href="#">Agregar al Carrito</a>
    </div>
     

</section>

    <div class="ca_caja_descripcion">
           <p>El par más cómodo y ligero para running. Las Zapatillas Nike ofrecen la combinación ideal de sujeción para correr y estilo urbano. Tus pisadas serán livianas en todo momento. Su diseño clásico te permitirá combinarlo con diferentes prendas y fueron confeccionados con materiales transpirables para mantener tus pies frescos.</p>
    </div>

    <div class="ca_caja_atributos">
        <ul>
            <li>Género: Mujer</li>
            <li>Marca: Nike</li>
        </ul>
    </div>


</body>
</html>