<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/form_contact.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Orbitron:wght@600&family=Play:wght@700&family=Prompt:wght@200;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Orbitron:wght@600&family=Play:wght@700&family=Prompt:wght@200;400&family=Russo+One&display=swap" rel="stylesheet">
    
    <title>Contacto</title>
</head>
<body>
    <form action="">
        <h2>Déjanos tu Mensaje</h2>
        <input type="text" name = "Nombre" placeholder="Nombre y Apellidos">
        <input type="text" name = "Email" placeholder="correo electrónico">
        <input type="text" name = "Telefono" placeholder="Teléfono">
        <textarea name="mensaje" placeholder= "Escriba aquí su mensaje" id="" cols="30" rows="10"></textarea> 
        <input type="button" value="Enviar" id="btn_enviar">
    </form>
</body>
</html>