<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/form_edition.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Orbitron:wght@600&family=Play:wght@700&family=Prompt:wght@200;400&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/home.css">
    
    
    <title>Edición de Productos</title>
</head>
<body>
    
    <header class="header-nav">
        <section class="title_al">
            <div class="menu-responsive">
                <p class="shop-name">Shoe's Station</p>
            </div>
            <i class='bx bx-menu' id="btnMenu"></i>
        </section>
        <div class="fucsia">

        </div>
        <section class="container_al">
            <div class="logotipo_al header-al">
                <div>
                    <img src="images/logo2.1.png" class="logo" alt="">
                </div>  
            </div>
            <div class="header-al">
                <input type="text" class="search" placeholder="Search">
                <button type="submit" class= "button-search"><i class='bx bx-search-alt-2'></i></button>
            </div>
            <div class="icons_al header-al">
                <a href=""><i class='bx bxs-user'></i></a>
                <a href=""><i class='bx bxs-cart'></i></a>
            </div>
        </section>
        <nav class="nav-menu-al" id="menu">
            <ul class="menu-al">
                <li><a href="">HOMBRE</a></li>
                <li><a href="">MUJER</a></li>
                <li><a href="">MARCAS</a></li>
                <li><a href="">OFERTAS</a></li>
                <li><a href="">NOSOTROS</a></li>
            </ul>
        </nav>
    </header>

      

    <section class = "ca_formediction">
        <form action="" method="post">
            <h2 >Editar un Producto</h2>

            <p>
                <label for="Nombre del Producto">Nombre del Producto:</label>
                <input type="text" name = "producto" id=inp_width>
            </p>
    
           <p>
            <label for="codigo del Producto">Código:</label>
            <input type="text" name = "producto" id=inp_width>
           </p>
    
           <p>
            <label for="img Producto">Imagen del Producto:</label>
            <input type="text" name = "producto" id=inp_width>
           </p> 
    
           <p>
            <label for="img Producto">Cambiar imagen:</label>
            <input type="file" name=""> (acepta solo formatos.jpg, .png)</p>

           <p>
            <label for="precio Producto">Precio del Producto:</label>
            <input type="text" name = "producto" id=inp_width>
           </p>
            
            <p>
                <label for="descuento">Precio Oferta:</label>
                <input type="text" name = "producto" id=inp_width>
        
            </p>
           
            <p>
                <label for="descripcion del Producto">Descripción del Producto:</label> <br>
                <textarea name="descripcion" id=inp_width cols="30" rows="10"></textarea>
                               
            </p>
        
             
            <p>
    
                Talles Disponibles:<br>
            
                <input type="checkbox" name="talle36" value="talle"> 36
                <input type="checkbox" name="talle37" value="talle"> 37
                <input type="checkbox" name="talle38" value="talle"> 38
                <input type="checkbox" name="talle39" value="talle"> 39
                <input type="checkbox" name="talle40" value="talle"> 40
                <input type="checkbox" name="talle41" value="talle"> 41
              </p>
            
              
    
    
            <p>
                <label for="marcas"><span>Marcas:</span></label>
                    <select id="inp_width" name="categoria">
                        <option value="Adidas">Adidas</option>
                        <option value="Under Armour">Under Armour</option>
                        <option value="Nike">Nike</option>
                    
                    </select>
            </p>
    
            <p>
                <label for="categoria"><span>Categoría:</span></label>
                    <select id="inp_width" name="categoria">
                    <option value="hombre">Hombre</option>
                    <option value="mujer">Mujer</option>
                    
                    </select>
            </p>
    
            <p>
                <label for="status"><span>Status:</span></label>
                    <select id="inp_width"id="inp_width" name="status">
                    <option value="activo">Activo</option>
                    <option value="inactivo">Inactivo</option>
                    
                    </select>
              </p>
    
            <label for="stock">Stock</label>
            <input type="number" name = "Stock" id=inp_width>
      
                      
            <input type="reset" value="Cancelar" id="btn_cancelar">
            <input type="button" value="Editar Producto" id="btn_editar">
            
         
    
        </form>

    </section>
    
    <footer class="container-footer">
        <div class="fucsiaDos">
    
        </div>
        <section class="content-footer">
            <div class="content-info about-us">
                <a href="">Nosotros</a>
                <a href="">Información</a>
            </div>
            <div class="social content-info">
                <p>Siguenos</p>
                <ul class="redes">
                    <li> 
                        <a href=""> <i class='bx bxl-facebook-circle'></i> </a>
                    </li>
                    <li>
                        <a href=""><i class='bx bxl-instagram-alt'></i></a>
                    </li>
                    <li>
                        <a href=""> <i class='bx bxl-twitter'></i> </a>
                    </li>
                    <li><i class='bx bxl-tiktok'></i></li>
                </ul>
            </div>
            <div class="info content-info">
                <p><strong>CENTRO DE ATENCIÓN AL CLIENTE</strong></p>
                <p>Lunes a viernes de 08:30 a 18:30hs <br>
                    Sábados de 9 a 17:30hs</p>
            </div>
        </section>
    </footer>
    
    <script src="home-js/home.js"></script>
    
</body>
</html>