<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/form_edition.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Orbitron:wght@600&family=Play:wght@700&family=Prompt:wght@200;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Orbitron:wght@600&family=Play:wght@700&family=Prompt:wght@200;400&family=Russo+One&display=swap" rel="stylesheet">
    
    <title>Edición de Productos</title>
</head>
<body>
    
    

    <section class = "ca_formediction">
        <form action="" method="post">
            <h2 >Editar un Producto</h2>

            <p>
                <label for="Nombre del Producto">Nombre del Producto:</label>
                <input type="text" name = "producto" id=inp_width>
            </p>
    
           <p>
            <label for="codigo del Producto">Código:</label>
            <input type="text" name = "producto" id=inp_width>
           </p>
    
           <p>
            <label for="img Producto">Imagen del Producto:</label>
            <input type="text" name = "producto" id=inp_width>
           </p> 
    
           <p>
            <label for="img Producto">Cambiar imagen:</label>
            <input type="file" name=""> (acepta solo formatos.jpg, .png)</p>

           <p>
            <label for="precio Producto">Precio del Producto:</label>
            <input type="text" name = "producto" id=inp_width>
           </p>
            
            <p>
                <label for="descuento">Precio Oferta:</label>
                <input type="text" name = "producto" id=inp_width>
        
            </p>
           
            <p>
                <label for="descripcion del Producto">Descripción del Producto:</label> <br>
                <textarea name="descripcion" id=inp_width cols="30" rows="10"></textarea>
                               
            </p>
        
             
            <p>
    
                Talles Disponibles:<br>
            
                <input type="checkbox" name="talle36" value="talle"> 36
                <input type="checkbox" name="talle37" value="talle"> 37
                <input type="checkbox" name="talle38" value="talle"> 38
                <input type="checkbox" name="talle39" value="talle"> 39
                <input type="checkbox" name="talle40" value="talle"> 40
                <input type="checkbox" name="talle41" value="talle"> 41
              </p>
            
              
    
    
            <p>
                <label for="marcas"><span>Marcas:</span></label>
                <select id="inp_width" name="categoria">
                    <option value="Adidas">Adidas</option>
                    <option value="Under Armour">Under Armour</option>
                    <option value="Nike">Nike</option>
                  
                </select>
            </p>
    
            <p>
                <label for="categoria"><span>Categoría:</span></label>
                <select id="inp_width" name="categoria">
                  <option value="hombre">Hombre</option>
                  <option value="mujer">Mujer</option>
                  
                </select>
            </p>
    
            <p>
                <label for="status"><span>Status:</span></label>
                <select id="inp_width"id="inp_width" name="status">
                  <option value="activo">Activo</option>
                  <option value="inactivo">Inactivo</option>
                  
                </select>
              </p>
    
            <label for="stock">Stock</label>
            <input type="number" name = "Stock" id=inp_width>
    
          
    
                      

            <input type="button" value="Editar Producto" id="btn_editar">
            <p><input type="reset" value="Cancelar" id="btn_editar"></p>
         
    
        </form>

    </section>
    
    
</body>
</html>