<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Orbitron:wght@600&family=Play:wght@700&family=Prompt:wght@200;400&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="css/home.css">
        <title>shoe's Station</title>
    </head>
    <body>
        <header class="header-nav">
            <section class="title_al">
                <div class="menu-responsive">
                    <p class="shop-name">Shoe's Station</p>
                </div>
                <i class='bx bx-menu' id="btnMenu"></i>
            </section>
            <div class="fucsia">

            </div>
            <section class="container_al">
                <div class="logotipo_al header-al">
                    <div>
                        <img src="images/logo2.1.png" class="logo" alt="">
                    </div>  
                </div>
                <div class="header-al">
                    <input type="text" class="search" placeholder="Search">
                    <button type="submit" class= "button-search"><i class='bx bx-search-alt-2'></i></button>
                </div>
                <div class="icons_al header-al">
                    <a href=""><i class='bx bxs-user'></i></a>
                    <a href=""><i class='bx bxs-cart'></i></a>
                </div>
            </section>
            <nav class="nav-menu-al" id="menu">
                <ul class="menu-al">
                    <li><a href="">HOMBRE</a></li>
                    <li><a href="">MUJER</a></li>
                    <li><a href="">MARCAS</a></li>
                    <li><a href="">OFERTAS</a></li>
                    <li><a href="">NOSOTROS</a></li>
                </ul>
            </nav>
        </header>
        <div class="container-slider-al">
            <div class="slider-al" id="slider-al">
                <section class="contenido-slide-al">
                    <img src="images/slider1.1.jpg" class="slider-img" alt="">
                </section>
                <section class="contenido-slide-al">
                    <img src="images/slider2.2.jpg" class="slider-img" alt="">
                </section>
                <section class="contenido-slide-al">
                    <img src="images/slider3.1.jpeg" class="slider-img" alt="">
                </section>
                <section class="contenido-slide-al">
                    <img src="images/prueba.jpg" class="slider-img" alt="">
                </section>
            </div>
            <button class="btn-slider btnleft" id="btnleft">
                <i class='bx bxs-chevrons-left'></i>
            </button>
            <button class="btn-slider btnright" id="btnright">
                <i class='bx bxs-chevrons-right'></i>
            </button>
        </div>

        <!-- Slider -->
        <div class="product-heading">
            <p class="product-slider-heading">Más vendidos</p>
            <button class="show-more">Ver más</button>
        </div>
        <section class="p-slider container">
            <div class="content-container slider-content" id="slider-content">
                <div class="product-box">
                    <!-- image-container -->
                    <div class="p-img-container">
                        <div class="p-img">
                            <a href="#">
                                <img src="images/ha_003.jpg" class="p-img-front" alt="front">
                            </a>
                        </div>
                    </div>

                    <!-- Text *****************-->
                    <div class="p-box-text">
                        
                        <!-- category -->
                        <div class="product-category">
                            <span>Zapatilla Adidas</span>
                        </div>
                    </div>

                    <!-- title -->
                    <a href="" class="product-title">
                        Zapatillas adidas para hombres.
                    </a>

                    <!-- price buy -->
                    <div class="price-buy">
                        <span class="p-price">$15000</span>
                    </div>
                </div>
                

                <div class="product-box">
                    <!-- image-container -->
                    <div class="p-img-container">
                        <div class="p-img">
                            <a href="#">
                                <img src="images/ha_004.jpg" class="p-img-front" alt="front">
                            </a>
                        </div>
                    </div>

                    <!-- Text *****************-->
                    <div class="p-box-text">
                        
                        <!-- category -->
                        <div class="product-category">
                            <span>Zapatilla Adidas</span>
                        </div>
                    </div>

                    <!-- title -->
                    <a href="" class="product-title">
                        Zapatillas adidas para hombres.
                    </a>

                    <!-- price buy -->
                    <div class="price-buy">
                        <span class="p-price">$15000</span>
                    </div>
                </div>

                <div class="product-box">
                    <!-- image-container -->
                    <div class="p-img-container">
                        <div class="p-img">
                            <a href="#">
                                <img src="images/hn_003.jpg" class="p-img-front" alt="front">
                            </a>
                        </div>
                    </div>

                    <!-- Text *****************-->
                    <div class="p-box-text">
                        
                        <!-- category -->
                        <div class="product-category">
                            <span>Zapatilla Adidas</span>
                        </div>
                    </div>

                    <!-- title -->
                    <a href="" class="product-title">
                        Zapatillas adidas para hombres.
                    </a>

                    <!-- price buy -->
                    <div class="price-buy">
                        <span class="p-price">$15000</span>
                    </div>
                </div>

                <div class="product-box">
                    <!-- image-container -->
                    <div class="p-img-container">
                        <div class="p-img">
                            <a href="#">
                                <img src="images/hn_004.jpg" class="p-img-front" alt="front">
                            </a>
                        </div>
                    </div>

                    <!-- Text *****************-->
                    <div class="p-box-text">
                        
                        <!-- category -->
                        <div class="product-category">
                            <span>Zapatilla Adidas</span>
                        </div>
                    </div>

                    <!-- title -->
                    <a href="" class="product-title">
                        Zapatillas adidas para hombres.
                    </a>

                    <!-- price buy -->
                    <div class="price-buy">
                        <span class="p-price">$15000</span>
                    </div>
                </div>

                <div class="product-box">
                    <!-- image-container -->
                    <div class="p-img-container">
                        <div class="p-img">
                            <a href="#">
                                <img src="images/hu_003.jpg" class="p-img-front" alt="front">
                            </a>
                        </div>
                    </div>

                    <!-- Text *****************-->
                    <div class="p-box-text">
                        
                        <!-- category -->
                        <div class="product-category">
                            <span>Zapatilla Adidas</span>
                        </div>
                    </div>

                    <!-- title -->
                    <a href="" class="product-title">
                        Zapatillas adidas para hombres.
                    </a>

                    <!-- price buy -->
                    <div class="price-buy">
                        <span class="p-price">$15000</span>
                    </div>
                </div>

                <div class="product-box">
                    <!-- image-container -->
                    <div class="p-img-container">
                        <div class="p-img">
                            <a href="#">
                                <img src="images/mu_002.jpg" class="p-img-front" alt="front">
                            </a>
                        </div>
                    </div>

                    <!-- Text *****************-->
                    <div class="p-box-text">
                        
                        <!-- category -->
                        <div class="product-category">
                            <span>Zapatilla Adidas</span>
                        </div>
                    </div>

                    <!-- title -->
                    <a href="" class="product-title">
                        Zapatillas adidas para hombres.
                    </a>

                    <!-- price buy -->
                    <div class="price-buy">
                        <span class="p-price">$15000</span>
                    </div>
                </div>

                <div class="product-box">
                    <!-- image-container -->
                    <div class="p-img-container">
                        <div class="p-img">
                            <a href="#">
                                <img src="images/mu_001.jpg" class="p-img-front" alt="front">
                            </a>
                        </div>
                    </div>

                    <!-- Text *****************-->
                    <div class="p-box-text">
                        
                        <!-- category -->
                        <div class="product-category">
                            <span>Zapatilla Adidas</span>
                        </div>
                    </div>

                    <!-- title -->
                    <a href="" class="product-title">
                        Zapatillas adidas para hombres.
                    </a>

                    <!-- price buy -->
                    <div class="price-buy">
                        <span class="p-price">$15000</span>
                    </div>
                </div>

                <div class="product-box">
                    <!-- image-container -->
                    <div class="p-img-container">
                        <div class="p-img">
                            <a href="#">
                                <img src="images/mn_002.jpg" class="p-img-front" alt="front">
                            </a>
                        </div>
                    </div>

                    <!-- Text *****************-->
                    <div class="p-box-text">
                        
                        <!-- category -->
                        <div class="product-category">
                            <span>Zapatilla Adidas</span>
                        </div>
                    </div>

                    <!-- title -->
                    <a href="" class="product-title">
                        Zapatillas adidas para hombres.
                    </a>

                    <!-- price buy -->
                    <div class="price-buy">
                        <span class="p-price">$15000</span>
                    </div>
                </div>
                <i class='bx bx-chevrons-right arrow'></i>
                <i class='bx bx-chevrons-left arrow'></i>
            </div>
        </section>

        <div class="product-heading">
            <p class="product-slider-heading">Recomendados</p>
            <button class="show-more">Ver más</button>
        </div>
        <section class="p-slider container">
            <div class="content-container slider-content" id="slider-content">
                <div class="product-box">
                    <!-- image-container -->
                    <div class="p-img-container">
                        <div class="p-img">
                            <a href="#">
                                <img src="images/ma_001.jpg" class="p-img-front" alt="front">
                            </a>
                        </div>
                    </div>

                    <!-- Text *****************-->
                    <div class="p-box-text">
                        
                        <!-- category -->
                        <div class="product-category">
                            <span>Zapatilla Adidas</span>
                        </div>
                    </div>

                    <!-- title -->
                    <a href="" class="product-title">
                        Zapatillas adidas para hombres.
                    </a>

                    <!-- price buy -->
                    <div class="price-buy">
                        <span class="p-price">$15000</span>
                    </div>
                </div>
                

                <div class="product-box">
                    <!-- image-container -->
                    <div class="p-img-container">
                        <div class="p-img">
                            <a href="#">
                                <img src="images/mn_001.jpg" class="p-img-front" alt="front">
                            </a>
                        </div>
                    </div>

                    <!-- Text *****************-->
                    <div class="p-box-text">
                        
                        <!-- category -->
                        <div class="product-category">
                            <span>Zapatilla Adidas</span>
                        </div>
                    </div>

                    <!-- title -->
                    <a href="" class="product-title">
                        Zapatillas adidas para hombres.
                    </a>

                    <!-- price buy -->
                    <div class="price-buy">
                        <span class="p-price">$15000</span>
                    </div>
                </div>

                <div class="product-box">
                    <!-- image-container -->
                    <div class="p-img-container">
                        <div class="p-img">
                            <a href="#">
                                <img src="images/mu_001.jpg" class="p-img-front" alt="front">
                            </a>
                        </div>
                    </div>

                    <!-- Text *****************-->
                    <div class="p-box-text">
                        
                        <!-- category -->
                        <div class="product-category">
                            <span>Zapatilla Adidas</span>
                        </div>
                    </div>

                    <!-- title -->
                    <a href="" class="product-title">
                        Zapatillas adidas para hombres.
                    </a>

                    <!-- price buy -->
                    <div class="price-buy">
                        <span class="p-price">$15000</span>
                    </div>
                </div>

                <div class="product-box">
                    <!-- image-container -->
                    <div class="p-img-container">
                        <div class="p-img">
                            <a href="#">
                                <img src="images/hn_004.jpg" class="p-img-front" alt="front">
                            </a>
                        </div>
                    </div>

                    <!-- Text *****************-->
                    <div class="p-box-text">
                        
                        <!-- category -->
                        <div class="product-category">
                            <span>Zapatilla Adidas</span>
                        </div>
                    </div>

                    <!-- title -->
                    <a href="" class="product-title">
                        Zapatillas adidas para hombres.
                    </a>

                    <!-- price buy -->
                    <div class="price-buy">
                        <span class="p-price">$15000</span>
                    </div>
                </div>

                <div class="product-box">
                    <!-- image-container -->
                    <div class="p-img-container">
                        <div class="p-img">
                            <a href="#">
                                <img src="images/hu_003.jpg" class="p-img-front" alt="front">
                            </a>
                        </div>
                    </div>

                    <!-- Text *****************-->
                    <div class="p-box-text">
                        
                        <!-- category -->
                        <div class="product-category">
                            <span>Zapatilla Adidas</span>
                        </div>
                    </div>

                    <!-- title -->
                    <a href="" class="product-title">
                        Zapatillas adidas para hombres.
                    </a>

                    <!-- price buy -->
                    <div class="price-buy">
                        <span class="p-price">$15000</span>
                    </div>
                </div>

                <div class="product-box">
                    <!-- image-container -->
                    <div class="p-img-container">
                        <div class="p-img">
                            <a href="#">
                                <img src="images/mu_002.jpg" class="p-img-front" alt="front">
                            </a>
                        </div>
                    </div>

                    <!-- Text *****************-->
                    <div class="p-box-text">
                        
                        <!-- category -->
                        <div class="product-category">
                            <span>Zapatilla Adidas</span>
                        </div>
                    </div>

                    <!-- title -->
                    <a href="" class="product-title">
                        Zapatillas adidas para hombres.
                    </a>

                    <!-- price buy -->
                    <div class="price-buy">
                        <span class="p-price">$15000</span>
                    </div>
                </div>

                <div class="product-box">
                    <!-- image-container -->
                    <div class="p-img-container">
                        <div class="p-img">
                            <a href="#">
                                <img src="images/mu_001.jpg" class="p-img-front" alt="front">
                            </a>
                        </div>
                    </div>

                    <!-- Text *****************-->
                    <div class="p-box-text">
                        
                        <!-- category -->
                        <div class="product-category">
                            <span>Zapatilla Adidas</span>
                        </div>
                    </div>

                    <!-- title -->
                    <a href="" class="product-title">
                        Zapatillas adidas para hombres.
                    </a>

                    <!-- price buy -->
                    <div class="price-buy">
                        <span class="p-price">$15000</span>
                    </div>
                </div>

                <div class="product-box">
                    <!-- image-container -->
                    <div class="p-img-container">
                        <div class="p-img">
                            <a href="#">
                                <img src="images/mn_002.jpg" class="p-img-front" alt="front">
                            </a>
                        </div>
                    </div>

                    <!-- Text *****************-->
                    <div class="p-box-text">
                        
                        <!-- category -->
                        <div class="product-category">
                            <span>Zapatilla Adidas</span>
                        </div>
                    </div>

                    <!-- title -->
                    <a href="" class="product-title">
                        Zapatillas adidas para hombres.
                    </a>

                    <!-- price buy -->
                    <div class="price-buy">
                        <span class="p-price">$15000</span>
                    </div>
                </div>
                <i class='bx bx-chevrons-right arrow'></i>
                <i class='bx bx-chevrons-left arrow'></i>
            </div>
        </section>

        <div class="product-heading">
            <p class="product-slider-heading">Ofertas</p>
            <button class="show-more">Ver más</button>
        </div>
        <section class="p-slider container">
            <div class="content-container slider-content" id="slider-content">
                <div class="product-box">
                    <!-- image-container -->
                    <div class="p-img-container">
                        <div class="p-img">
                            <a href="#">
                                <img src="images/mu_002.jpg" class="p-img-front" alt="front">
                            </a>
                        </div>
                    </div>

                    <!-- Text *****************-->
                    <div class="p-box-text">
                        <!-- category -->
                        <div class="product-category">
                            <span>Zapatilla Adidas</span>
                        </div>
                    </div>

                    <!-- title -->
                    <a href="" class="product-title">
                        Zapatillas adidas para hombres.
                    </a>

                    <!-- price buy -->
                    <div class="price-buy">
                        <span class="p-price">$15000</span>
                    </div>
                </div>
                

                <div class="product-box">
                    <!-- image-container -->
                    <div class="p-img-container">
                        <div class="p-img">
                            <a href="#">
                                <img src="images/ha_004.jpg" class="p-img-front" alt="front">
                            </a>
                        </div>
                    </div>

                    <!-- Text *****************-->
                    <div class="p-box-text">
                        
                        <!-- category -->
                        <div class="product-category">
                            <span>Zapatilla Adidas</span>
                        </div>
                    </div>

                    <!-- title -->
                    <a href="" class="product-title">
                        Zapatillas adidas para hombres.
                    </a>

                    <!-- price buy -->
                    <div class="price-buy">
                        <span class="p-price">$15000</span>
                    </div>
                </div>

                <div class="product-box">
                    <!-- image-container -->
                    <div class="p-img-container">
                        <div class="p-img">
                            <a href="#">
                                <img src="images/hn_003.jpg" class="p-img-front" alt="front">
                            </a>
                        </div>
                    </div>

                    <!-- Text *****************-->
                    <div class="p-box-text">
                        
                        <!-- category -->
                        <div class="product-category">
                            <span>Zapatilla Adidas</span>
                        </div>
                    </div>

                    <!-- title -->
                    <a href="" class="product-title">
                        Zapatillas adidas para hombres.
                    </a>

                    <!-- price buy -->
                    <div class="price-buy">
                        <span class="p-price">$15000</span>
                    </div>
                </div>

                <div class="product-box">
                    <!-- image-container -->
                    <div class="p-img-container">
                        <div class="p-img">
                            <a href="#">
                                <img src="images/hn_004.jpg" class="p-img-front" alt="front">
                            </a>
                        </div>
                    </div>

                    <!-- Text *****************-->
                    <div class="p-box-text">
                        
                        <!-- category -->
                        <div class="product-category">
                            <span>Zapatilla Adidas</span>
                        </div>
                    </div>

                    <!-- title -->
                    <a href="" class="product-title">
                        Zapatillas adidas para hombres.
                    </a>

                    <!-- price buy -->
                    <div class="price-buy">
                        <span class="p-price">$15000</span>
                    </div>
                </div>

                <div class="product-box">
                    <!-- image-container -->
                    <div class="p-img-container">
                        <div class="p-img">
                            <a href="#">
                                <img src="images/hu_003.jpg" class="p-img-front" alt="front">
                            </a>
                        </div>
                    </div>

                    <!-- Text *****************-->
                    <div class="p-box-text">
                        
                        <!-- category -->
                        <div class="product-category">
                            <span>Zapatilla Adidas</span>
                        </div>
                    </div>

                    <!-- title -->
                    <a href="" class="product-title">
                        Zapatillas adidas para hombres.
                    </a>

                    <!-- price buy -->
                    <div class="price-buy">
                        <span class="p-price">$15000</span>
                    </div>
                </div>

                <div class="product-box">
                    <!-- image-container -->
                    <div class="p-img-container">
                        <div class="p-img">
                            <a href="#">
                                <img src="images/mu_002.jpg" class="p-img-front" alt="front">
                            </a>
                        </div>
                    </div>

                    <!-- Text *****************-->
                    <div class="p-box-text">
                        
                        <!-- category -->
                        <div class="product-category">
                            <span>Zapatilla Adidas</span>
                        </div>
                    </div>

                    <!-- title -->
                    <a href="" class="product-title">
                        Zapatillas adidas para hombres.
                    </a>

                    <!-- price buy -->
                    <div class="price-buy">
                        <span class="p-price">$15000</span>
                    </div>
                </div>

                <div class="product-box">
                    <!-- image-container -->
                    <div class="p-img-container">
                        <div class="p-img">
                            <a href="#">
                                <img src="images/mu_001.jpg" class="p-img-front" alt="front">
                            </a>
                        </div>
                    </div>

                    <!-- Text *****************-->
                    <div class="p-box-text">
                        
                        <!-- category -->
                        <div class="product-category">
                            <span>Zapatilla Adidas</span>
                        </div>
                    </div>

                    <!-- title -->
                    <a href="" class="product-title">
                        Zapatillas adidas para hombres.
                    </a>

                    <!-- price buy -->
                    <div class="price-buy">
                        <span class="p-price">$15000</span>
                    </div>
                </div>

                <div class="product-box">
                    <!-- image-container -->
                    <div class="p-img-container">
                        <div class="p-img">
                            <a href="#">
                                <img src="images/mn_002.jpg" class="p-img-front" alt="front">
                            </a>
                        </div>
                    </div>

                    <!-- Text *****************-->
                    <div class="p-box-text">
                        
                        <!-- category -->
                        <div class="product-category">
                            <span>Zapatilla Adidas</span>
                        </div>
                    </div>

                    <!-- title -->
                    <a href="" class="product-title">
                        Zapatillas adidas para hombres.
                    </a>

                    <!-- price buy -->
                    <div class="price-buy">
                        <span class="p-price">$15000</span>
                    </div>
                </div>
                <i class='bx bx-chevrons-right arrow'></i>
                <i class='bx bx-chevrons-left arrow'></i>
            </div>
        </section>

        <section class="container-marcas">
            <section class="content-marcas">
                <div class="title-marcas sale_title">
                    <p>Navega por marcas</p>
                </div>
                <div class="logo-marcas">
                    <div class="img-marcas">
                        <img src="images/logo-adidas.png" alt="">
                    </div>
                    <div class="img-marcas">
                        <img src="images/logo-nike.png" alt="">
                    </div>
                    <div class="img-marcas">
                        <img src="images/logo-UnderArmour.png" alt="">
                    </div>
                </div>
            </section>
        </section>
        <footer class="container-footer">
            <div class="fucsiaDos">

            </div>
            <section class="content-footer">
                <div class="content-info about-us">
                    <a href="">Nosotros</a>
                    <a href="">Información</a>
                </div>
                <div class="social content-info">
                    <p>Siguenos</p>
                    <ul class="redes">
                        <li> 
                            <a href=""> <i class='bx bxl-facebook-circle'></i> </a>
                        </li>
                        <li>
                            <a href=""><i class='bx bxl-instagram-alt'></i></a>
                        </li>
                        <li>
                            <a href=""> <i class='bx bxl-twitter'></i> </a>
                        </li>
                        <li>
                            <a href=""><i class='bx bxl-tiktok'></i></a>
                        </li>
                    </ul>
                </div>
                <div class="info content-info">
                    <p><strong>CENTRO DE ATENCIÓN AL CLIENTE</strong></p>
                    <p>Lunes a viernes de 08:30 a 18:30hs <br>
                        Sábados de 9 a 17:30hs</p>
                </div>
            </section>
        </footer>

        <script src="home-js/home.js"></script>
        <script src="home-js/slider_home.js"></script>
    </body>
</html>