*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    /*font-family: 'Orbitron', sans-serif;*/
}


.ca_caja_imagenproducto{
background: rgb(255, 255, 255);
margin-top: 60px;
display: flex;
justify-content: center;

}

.ca_caja_imagenproducto img{
    width: 80%;
}


.ca_caja_nombreproducto{
    font-size: 12px;
    margin-left: 20px;
    
}


.ca_caja_codigo{
    font-size: 16px;
    margin-left: 20px;
    margin-top: 10px;
    
}
.ca_caja_precio{
    font-size: 30px;
    font-weight: bolder;
    margin-left: 20px;
    margin-top: 20px;
}

.ca_caja_labeltalle{
    font-size: 15px;
    margin-left: 20px;
    margin-top: 20px;
}

.ca_caja_talles{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-right: 7px;
    padding: 20px;
    border-bottom: 2px solid rgba(250, 2, 209, 0.5);
    border-top:2px solid rgba(199, 18, 154, 0.5);
    

}


.talle{
    padding: 5px;
    list-style: none;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px  solid #222;
    min-width: 35px;
    width: unset;
    cursor: pointer;
}


.ca_caja_agregar{
    display: flex;
    padding: 10px;

}
.ca_cantidad{
    padding: 5px;
    list-style: none;
    margin: 10px;
    text-align: center;
    border-radius: 2px;
    border: 1px  solid #222;
    max-width: 35px;
    width: unset;
    cursor: pointer;
}

.bottom{
    text-decoration: none;
    border: 1px solid #ff0698;
    width: 250px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    background-color: #ff0698;
    color: rgb(255, 255, 255);
    font-size: 20px;

}

.ca_caja_descripcion{
    padding: 20px;
    font-size: 15px;
    margin-right: 5px;
}

.ca_caja_atributos{
    padding: 20px;
    
}

.ca_caja_atributos li{
    list-style: none;
    margin: 10px;
    font-size: 17px;
}