*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Prompt', sans-serif;
}

#franja{
    border-top: 1px solid #399ef794;
}

.ca_caja_imagenproducto{
background: rgb(255, 255, 255);
border: 1px solid rgba(245, 87, 108, 0.555) ;
border-radius: 10px;
padding: 15px;
width: 300px;
margin-top: 60px;
display: flex;
justify-content: center;
margin-left: 8%;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.ca_caja_imagenproducto img{
    width: 80%;
}


.ca_caja_nombreproducto{
    display: flex;
    font-size: 12px;
    justify-content: center;
    margin-top: 15px;
    
}


.ca_caja_codigo{
    font-size: 16px;
    margin-left: 40px;
    margin-top: 10px;
    
}
.ca_caja_precio{
    font-size: 30px;
    font-weight: bolder;
    margin-left: 40px;
    margin-top: 20px;
}

.ca_caja_labeltalle{
    font-size: 18px;
    font-style: italic;
    margin-left: 30%;
    margin-top: 20px;
}

.ca_caja_talles{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-right: 7px;
    padding: 20px;
    border-bottom: 1px solid #399ef794;
    border-top:1px solid #399ef794;
    

}


.talle{
    padding: 5px;
    list-style: none;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px  solid #222;
    min-width: 35px;
    width: unset;
    cursor: pointer;
}


.ca_caja_agregar{
    display: flex;
    padding: 10px;

}
.ca_cantidad{
    padding: 5px;
    list-style: none;
    margin: 10px;
    text-align: center;
    border-radius: 2px;
    border: 1px  solid #222;
    max-width: 35px;
    width: unset;
    cursor: pointer;
}

.bottom{
    text-decoration: none;
    border: 1px solid #ff0698;
    width: 60%;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size: 20px;

}

.ca_caja_descripcion{
    padding: 20px;
    font-size: 15px;
    margin-right: 5px;
}

.ca_caja_atributos{
    padding: 20px;
    
}

.ca_caja_atributos li{
    list-style: none;
    margin: 10px;
    font-size: 17px;
}