*{
      font-family: 'Prompt', sans-serif;
    /*font-family: 'Orbitron', sans-serif;*/
}


.ca_formediction{
    box-shadow: 0px 0px 10px rgb(100,100,100);
    box-sizing: border-box;
    width: 800px;
    margin: auto;
    padding: 10px 20px;
    border-radius: 7px;
    margin-top: 150px;
}

#inp_width{
    width: 100%;
    border: none;
    background: rgba(0,0,0,0.1);
    margin-bottom: 20px;
    padding: 7px;
    font-size: 16px;

}

h2{
    color:#6577fa;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 25px; 
 }

 label{
     font-size: 18px;
 }

 #btn_editar {
     
    background:#6577fa ;
    color:#fff;
    padding: 20px;
    border: none;
    width: 30%;
}

#btn_editar:hover{
    cursor: pointer;
}
 
