*{
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}

#franja{
    border-top: 1px solid #399ef794;
}

.ca_container_ppal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;

}


h3{
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 20px;
}

p{
    font-size: 25px;
}

.font p{
    margin-top: 30px;
    font-size: 30px;
  

}

.font >img{
    width: 30%;
    margin: 15px;

}
form{
    box-sizing: border-box;
    width: 600px;
    margin: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
    border: none;
    outline: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.titulo_form{
   color:#727272;
   text-align: center;
   margin: 0;
   font-size: 30px;
   margin-bottom: 25px; 
}

.form_contact, textarea {
    text-indent: 15px;
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 20px;
    border-color: #c2c2c294;
    background: #dff1f194;
    border-radius: 3px;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;

}

#btn_enviar {
    text-align: center;
    background:#3ebfd694;
    color:rgb(0, 0, 0);
    font-size: 22px;
    padding: 15px;
    border: none;
    border-radius: 3px;
    width: 100%;
    
}

#btn_enviar:hover{
    cursor: pointer;
}


@media screen and (max-width: 550px) {
    form{
        width: 80%;
    } 
}