*{
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

.title_al {
    background-color: rgb(171, 179, 171);
    padding: 8px;
    
}

.bx-menu {
    font-size: 25px;
}

.shop-name {
    font-family: 'Prompt', sans-serif;
}

.container_al {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    
}

.logotipo_al {
    display: flex;
}

.logo {
    width: 30px;
}

.logo_tipo {
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
}

.search{
    text-indent: 15px;
    width: 400px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button-search {
    font-size: 15px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.icons_al > a {
    font-size: 30px;
    margin: 5px;
    color: black;
}

.container-slider-al {
    overflow: hidden;
    position: relative;
}

.slider-al {
    display: flex;
    width: 400%;
    height: 100%;
    margin-left: -100%;
}

.contenido-slide-al{
    width: 100%;

}

.slider-img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.btn-slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 30px;
    color: floralwhite;
}

.btnright {
    right: 10px;
}

.btnleft {
    left: 10px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 941px) {
    .title_al {
        background-color: rgb(171, 179, 171);
        font-family: 'Prompt', sans-serif;
        text-align: center;
        padding: 8px;
    }

    .menu-al {
        display: flex;
        justify-content: center;
    }
    
    .menu-al > li {
        list-style: none;
        margin: 15px;
        padding: 15px;
    }
    
    .menu-al > li > a{
        text-decoration: none;
        font-family: 'Prompt', sans-serif !important;
        color: black;
    }

    .bx-menu {
        display: none;
    }

    .slider-img {
        height: 500px;
    }
    
}

@media screen and (max-width: 940px) {
    .title_al {
        display: flex;
        justify-content: space-between;
    }

    .nav-menu-al {
        position: absolute;
        top: 0;
        background-color: rgba(171, 179, 171, 0.527);
        width: 250px;
        height: 100%;
        padding-top: 50px;
        margin-left: -250px;
        z-index: 1;
    }

    .nav-menu-al {
        transition: 1s;
    }

    .menu-on {
        margin-left: 0;
    }

    .menu-al > li {
        line-height: 50px;
        list-style: none;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.678);
    }

    .menu-al > li > a {
        text-decoration: none;
        font-family: 'Prompt', sans-serif;
        color: rgb(0, 0, 0);
    }
    
    .container_al {
        flex-direction: column;
    }

    .header-al {
        padding: 15px;
    }
    
    .search {
        width: auto;
    }
}