*{
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
}

html, body {
    height: 100%;
}

.container-slider-al {
    overflow: hidden;
    position: relative;
}

.slider-al {
    display: flex;
    width: 400%;
    height: 100%;
    margin-left: -100%;
}

.contenido-slide-al{
    width: 100%;

}

.slider-img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.btn-slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 20px;
    color: rgb(10, 10, 10);
}

.btnright {
    right: 10px;
}

.btnleft {
    left: 10px;
}


/* Slider============== */ 

a {
    text-decoration: none;
}

.product-heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 55px;
}

.show-more {
    width: 65px;
    height: 30px;
    font-size: 12px;
    border-radius: 8px;
    border: none;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.show-more:active {
    transform: translateY(4px);
}

.product-slider-heading {
    font-size: 20px;
    color: #111111;
    margin: 15px;

    padding: 10px;
    
}

.product-box {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 15px;
    margin: 0px 20px;
}

.p-img-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.p-img a, .p-img {
    width: 100%;
    height: 100%;
    display: flex;
}

.p-img a img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;

}

.p-box-text {
    margin-top: 5px;
    width: 100%;
}

.product-category {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.product-category span {
    color: #acacac;
    font-size: 0.9rem;
    margin: 5px 0px;
}

.product-title {
    color: #333333;
    font-weight: 600;
    text-decoration: none;
    transition: all ease 0.3s;
}

.product-title:hover {
    color: #111111;
    opacity: 0.7;
    transition: all ease 0.3s;
}

.content-container {
    display: flex;
    justify-content: left;
    height: 320px;
    width: 4000px;
    margin: 10px auto;
    margin-left: -280px;
}

.container {
    overflow: hidden;
}

.container {
    position: relative;
    margin: 20px;
}

.arrow {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    
}

.bx-chevrons-right {
    right: 10px;
    font-size: 25px;
    color: #313131;
}

.bx-chevrons-left {
    left: 10px;
    font-size: 25px;
    color: #313131;
}
/* Finaliza estilo de slider */

.title-marcas {
    text-align: center;
}


.content-marcas {
    padding: 30px;
    margin: 50px;
}

.logo-marcas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-marcas {
    padding: 20px;
}

.img-marcas > img{
    width: 100px;
}


/* MEDIA QUERIES */
@media screen and (min-width: 941px) {

    .slider-img {
        height: 500px;
    }

    .product-slider-heading {
        font-size: 25px;    
    }
    
    .title-marcas {
        font-family: 'Prompt', sans-serif;
        font-size: 25px;
    }
    
    .logo-marcas {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;
    }
    
    .img-marcas > img{
        width: 150px;
    }
    
}

@media screen and (max-width: 940px) {

    .title-marcas {
        font-size: 20px;
    }
}

@media screen and (max-width: 550px) {
    
    .img-marcas > img {
        width: 40px;
    }
    
    .content-footer {
        flex-direction: column;
        text-align: center;
    }

    .product-slider-heading {
        font-size: 15px;    
    }
}