#franja{
    border-top: 1px solid #399ef794;
}

.ca_container2{/*Contenedor de la imagen*/
    border: 1px solid rgba(245, 87, 108, 0.555) ;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
}

.ca_container2 img{/*{propiedades de la imagen*/
    width: 230px;
}

.ca_caja_nombreproducto{/*propiedades del nombre del producto*/
    display: flex;
    font-size: 13px;
    justify-content: center;
    margin-top: 15px;
}

.ca_caja_nombreproducto > h1 {
    font-weight: 400;
    text-align: center;
}

.talle:hover{
    background-color: #a9fbffef;
}

.talle_radio[type=radio] {
    display: none;
}

form input[type="radio"]:checked + label {
background-image: linear-gradient(to right, #4facfeee 0%, #00f1feef 100%);
}

input:checked{
    background-color: rgb(240, 15, 15);
}

 .talle{/*propiedades del LABEL TALLES*/
    padding: 5px;
    margin: 2px;
    text-align: center;
    border-radius: 8px;
    border: 1px  solid rgb(190, 190, 190);
    min-width: 35px;
    width: unset;
    cursor: pointer;
}

.ca_caja_codigo{/*propiedades del CODIGO del producto*/
    font-size: 16px;
    margin-left: 40px;
    margin-top: 10px;
    color: rgb(136, 134, 134); 
}

.ca_caja_precio{/*propiedades del PRECIO del producto*/
    font-size: 25px;
    font-weight: bolder;
    margin-left: 40px;
    margin-top: 20px;
    color: #000000;
}

.ca_caja_precio > p {
    font-weight: 400;
}

.ca_caja_labeltalle{/*propiedades del LABEL del talle*/
    font-size: 18px;
    font-style: italic;
    margin-left: 30%;
    margin-top: 20px;
    color: rgb(75, 74, 74);
}

.ca_container_talles{/*Contenedor de los textos TALLES*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding: 20px;
    border-bottom: 1px solid #399ef794;
    border-top:1px solid #399ef794;
}

.ca_cantidad input{/*propiedades del input CANTIDAD*/
    margin: 5px;
    width: 50px;
    height: 35px;
    border-radius: 5px;
    border: solid 1px #a3a2a2;
    outline: none;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 19%);   
}

.ca_caja_agregar{/*Contenedor input cantidad  + botón AGREGAR AL CARRITO*/
    display: flex;
    padding: 10px;
    justify-content: center;
}



.ca_boton_agregar{/*propiedades del botón AGREGAR AL CARRITO*/
    margin: 5px;
    background-color: #c0c0c0;
    text-align: center;
    font-size: 18px;
    font-family:'Prompt', sans-serif;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: rgb(0, 0, 0);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 15px;
    cursor: pointer;
}

.ca_caja_descripcion{/*propiedades de la DESCRIPCIÓN del producto*/
    padding: 20px;
    font-size: 15px;
    margin-right: 5px;
    text-align: center;
    font-weight: 200;
}

.ca_caja_atributos{/*Contenedor de los dos atributos*/
    padding: 20px;
    
}

.ca_caja_atributos li{/*propiedades de los ATRIBUTOS del producto*/
    list-style: none;
    margin: 10px;
    font-size: 15px;
}

.edit_delet_al {
    width: 180px;
    height: 40px;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    border: none;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 10px;
    font-weight: normal;
    font-family: 'Prompt', sans-serif;
    font-size: 13px;
    cursor: pointer;
}

.edit_delet_al:active {
    transform: translateY(4px);
}


.blue_edit {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    height: 20px;
    padding: 10px;
}


.ca_boton_agregar:active {
    transform: translateY(4px);
  }



/* Movil */
@media (max-width: 599px) {
    .container_edit_delet{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}


/*TABLET*/
@media (min-width:600px) and (max-width:1024px) {

    
    .ca_container1{/*Contenedor de la imagen,nombre del producto, código, precio, labeltalle, talles, input cantidad, botón Agregar al carrito*/
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px; 
    }

    .ca_container2{/*Contenedor de las propiedades de la imagen*/
        border: none;  
        border-radius: none;
        box-shadow: none;  
    }
    .ca_container2 img{/*Contenedor de las propiedades de la imagen*/
        width: 80%;
    }

    .ca_caja_nombreproducto{/*propiedades del nombre del producto*/
        font-size: 18px;
    }

    .ca_caja_codigo{/*propiedades del CODIGO del producto*/
        font-size: 15px;
    }
    .ca_caja_precio{/*propiedades del PRECIO del producto*/
        font-size: 20px;
        font-weight: bolder;
        color: #000000;  
    }

    .ca_caja_labeltalle{/*propiedades del LABEL del talle*/
        font-size: 18x;   
    }

    .ca_caja_descripcion{/*propiedades de la DESCRIPCIÓN del producto*/
        font-size: 20px;
    }

    .ca_caja_atributos li{/*propiedades de los ATRIBUTOS del producto*/
        font-size: 18px;
    }

    .ca_boton_agregar{/*propiedades del botón AGREGAR AL CARRITO*/
        width: 200px;
        height: 40px;
        font-size: 18px;
    }     
    
    .container_edit_delet{
        display: flex;
        justify-content: center;
        cursor: pointer;
    }


  
}

/*DESKTOP*/
@media (min-width: 1025px){
    .ca_caja_nombreproducto > h1 {
        width: 550px;
    }
   
    /*form input[type="radio"]:checked + label {
    background-image: linear-gradient(to right, #4facfeee 0%, #00f1feef 100%);
    }*/
    
   .ca_container1{/*Contenedor de la imagen,nombre del producto, código, precio, labeltalle, talles, input cantidad, botón Agregar al carrito*/
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }
    .ca_container2{/*Contenedor de las propiedades de la imagen*/
        border: none;  
        border-radius: none;
        box-shadow: none;
        width: 40%;
    }

    .ca_container2 img{/*propiedades de la imagen*/
        width: 100%;    
    }

    .ca_caja_nombreproducto{/*propiedades del nombre del producto*/
        font-size: 25px;
    }

    .ca_caja_codigo{/*propiedades del CODIGO del producto*/
        font-size: 10px;        
    }

    .ca_caja_precio{/*propiedades del PRECIO del producto*/
        font-size: 25px;
        font-weight: bolder;
        color: #000000; 
           
    }

    .ca_caja_labeltalle{/*propiedades del LABEL titulo Talle*/
        font-size: 18px;
    }

    .talle{/*propiedades del número del talle*/
        font-size: 18px;
    }

    .ca_caja_descripcion{/*propiedades de la DESCRIPCIÓN del producto*/
        font-size: 20px;        
    }

    .ca_caja_atributos li{/*propiedades de los ATRIBUTOS del producto*/
        font-size: 20px;
    }

    .container_edit_delet{
        display: flex;
        justify-content: center;
    }
}