*{
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}

#franja{
    border-top: 1px solid #399ef794;
}

.ca_container2{/*Contenedor de la imagen*/

    border: 1px solid rgba(245, 87, 108, 0.555) ;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.ca_container2 img{/*{propiedades de la imagen*/
    width: 60%;
    margin-left: 20%;
}


.ca_caja_nombreproducto{/*propiedades del nombre del producto*/
    display: flex;
    font-size: 13px;
    justify-content: center;
    margin-top: 15px;
    
}


.ca_caja_codigo{/*propiedades del CODIGO del producto*/
    font-size: 16px;
    margin-left: 40px;
    margin-top: 10px;
    color: rgb(136, 134, 134);
    
}
.ca_caja_precio{/*propiedades del PRECIO del producto*/
    font-size: 25px;
    font-weight: bolder;
    margin-left: 40px;
    margin-top: 20px;
    color: #006bc994;
}

.ca_caja_labeltalle{/*propiedades del LABEL del talle*/
    font-size: 18px;
    font-style: italic;
    margin-left: 30%;
    margin-top: 20px;
    color: rgb(136, 134, 134);
}

.ca_container_talles{/*Contenedor de los textos TALLES*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-right: 7px;
    padding: 20px;
    border-bottom: 1px solid #399ef794;
    border-top:1px solid #399ef794;

}

.talle{/*propiedades de los textos TALLES*/
    padding: 5px;
    list-style: none;
    margin: 5px;
    text-align: center;
    border-radius: 8px;
    border: 1px  solid rgb(190, 190, 190);
    min-width: 35px;
    width: unset;
    cursor: pointer;
}

.talle:hover{
    background-color: #00f1feef ;
}

.ca_cantidad input{/*propiedades del input CANTIDAD*/
    margin: 5px;
    width: 50px;
    height: 35px;
    border-radius: 5px;
    border: solid 1px #a3a2a2;
    outline: none;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 19%);   
}

.ca_caja_agregar{/*Contenedor input cantidad  + botón AGREGAR AL CARRITO*/
    display: flex;
    padding: 10px;
    justify-content: center;
   

}

.ca_boton_agregar{/*propiedades del botón AGREGAR AL CARRITO*/
    margin: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 15px;
    cursor: pointer;
    

}

.ca_caja_descripcion{/*propiedades de la DESCRIPCIÓN del producto*/
    padding: 20px;
    font-size: 15px;
    margin-right: 5px;
    text-align: center;
}

.ca_caja_atributos{/*Contenedor de los dos atributos*/
    padding: 20px;
    
}

.ca_caja_atributos li{/*propiedades de los ATRIBUTOS del producto*/
    list-style: none;
    margin: 10px;
    font-size: 15px;
}




/*TABLET*/

@media (min-width:500px) and (max-width:1024px) {
    
    .ca_container1{/*Contenedor de la imagen,nombre del producto, código, precio, labeltalle, talles, input cantidad, botón Agregar al carrito*/
        display: flex;
        justify-content: space-around;
        margin-top: 30px;

        
    }

    .ca_container2{/*Contenedor de las propiedades de la imagen*/
        border: none;  
        border-radius: none;
        box-shadow: none;
       
       
    }
    .ca_container2 img{/*Contenedor de las propiedades de la imagen*/
        width: 80%;
    
    }

    .ca_caja_nombreproducto{/*propiedades del nombre del producto*/
        font-size: 18px;
    
    }

    .ca_caja_codigo{/*propiedades del CODIGO del producto*/
        font-size: 15px;
 
    }
    .ca_caja_precio{/*propiedades del PRECIO del producto*/
        font-size: 20px;
        font-weight: bolder;
        color: #006bc994;
        
    }

    .ca_caja_labeltalle{/*propiedades del LABEL del talle*/
        font-size: 18x;
        
    }

 
 
    .ca_caja_descripcion{/*propiedades de la DESCRIPCIÓN del producto*/
        font-size: 20px;
     
    }
    .ca_caja_atributos li{/*propiedades de los ATRIBUTOS del producto*/
        font-size: 18px;
    }

    .ca_cantidad input{/*propiedades del input CANTIDAD*/
       
        width: 55px;
        height: 36px;
       
       
    }

    .ca_boton_agregar{/*propiedades del botón AGREGAR AL CARRITO*/
        
        width: 200px;
        height: 40px;
        font-size: 18px;
   
    }
   
   
              
}

/*DESKTOP*/

@media (min-width: 1025px){


  
    .ca_container1{/*Contenedor de la imagen,nombre del producto, código, precio, labeltalle, talles, input cantidad, botón Agregar al carrito*/
        display: flex;
        justify-content: space-around;
        margin-top: 70px;
        
    }
    .ca_container2{/*Contenedor de las propiedades de la imagen*/
        border: none;  
        border-radius: none;
        box-shadow: none;
    }

    .ca_container2 img{/*propiedades de la imagen*/
        width: 150%;
        
    }

    .ca_caja_nombreproducto{/*propiedades del nombre del producto*/
        font-size: 35px;
        
    }

    
    .ca_caja_codigo{/*propiedades del CODIGO del producto*/
        font-size: 20px;
        
       
        
    }
    .ca_caja_precio{/*propiedades del PRECIO del producto*/
        font-size: 35px;
        font-weight: bolder;
        color: #006bc994;
        
    }

    .ca_caja_labeltalle{/*propiedades del LABEL del talle*/
        font-size: 22px;
        
    }

    .talle{/*propiedades del número del talle*/
        font-size: 22px;
    }

    .ca_cantidad input{/*propiedades del input CANTIDAD*/
       
        width: 75px;
        height: 56px;
        font-size: 24px;
       
    }

    .ca_boton_agregar{/*propiedades del botón AGREGAR AL CARRITO*/
        
        width: 300px;
        height: 60px;
        font-size: 30px;
   
    }
    
    .ca_caja_descripcion{/*propiedades de la DESCRIPCIÓN del producto*/
        font-size: 30px;
        
}

    .ca_caja_atributos li{/*propiedades de los ATRIBUTOS del producto*/
        font-size: 26px;
}

    

}