.terminos {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    margin: auto;
}

.terminos > h2, h3 {
  font-weight: 400;
}

.terminos > p{
  text-align: justify;
  font-weight: 200
}