<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <div id="franja"></div>
    <div class="error404">
            <h3>Lo sentimos, esta página no está disponible, <a href="/">volver al Home</a></h3>
            <img src='../images/error_404.png' alt="error 404">
        
    </div>
    
    <%- include('../partials/footer'); %>
</body>
</html>