<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <div id="franja"></div>

    <section class="ca_container_ppal">
        <div>
            <form class="ca_container_form" action="/contacto" method="POST">
                <h2 class="ca_titulo_form">Déjanos tu Mensaje</h2>
                <input class="ca_input_contact" type="text" name = "Nombre" placeholder="Nombre y Apellidos">
                <input class="ca_input_contact" type="email" name = "Email" placeholder="correo electrónico">
                <input class="ca_input_contact" type="number" name = "Telefono" placeholder="Teléfono">
                <textarea id="ca_textarea" class="ca_input_contact" type="text" name="mensaje" placeholder= "Escriba aquí su mensaje" id="" cols="30" rows="10"></textarea>
                <button type="submit" id="btn_contact">Enviar Consulta</button> 
            </form>
        </div>

       
    </section>
    <%- include('../partials/footer'); %>
</body>
</html>