<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

    <body>
        <%- include('../partials/header'); %>
            <div id="franja"></div>

           
            <div class="container">
                <div>
                    <h3 class="ca_title_met">Métodos de Pago</h3>
                </div>

                <div>
                    <p id="ca_intro">En Shoes'Station podés usar los siguientes métodos de pago:</p>
                </div>
    
                <div class="font">
                    <p class="ca_name_card">Tarjetas de Crédito</p>
                        <img src="images/visa_credito.png" alt="logo tarjeta visa">
                        <img src="images/mastercard_credito.png" alt="logo tarjeta mastercard">
                </div>
    
                <div class="font">
                    <p class="ca_name_card">Tarjetas de Débito</p>
                    <img src="images/visa_credito.png" alt="logo tarjeta visa">
                    <img src="images/maestro.png" alt="logo tarjeta maestro">
                </div>
    
                <div class="font">
                    <p class="ca_name_card">Mercado Pago</p>
                    <img src="images/mercadopago.png" alt="logo mercadopago">
                </div>
            </div>

            <%- include('../partials/footer'); %>
    </body>

</html>