<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

    <body>
        <%- include('../partials/header'); %>
            <div id="franja"></div>

            <div class="politicas">

                <h2>¿Quienes somos?</h2>



                <p> Nuestra historia comienza en 2022 con la inauguración de nuestra ecommerce para ofrecer las más
                    cómodas y lindas  zapatillas deportivas y con el sueño de expandirnos y aperturar nuestra tienda física. 
                    

                    Así nace Shoes'Station, con el objetivo de ampliar nuestra participación y presencia en el mundo del comercio
                    deportivo, pioneros de la plataforma de venta online. </p>


                   

                <p> 
                    <h3>  Visión:</h3>
                    
                   Ser el retailer líder en ventas y en servicio al cliente, siendo siempre cercano al consumidor.
                </p>
                    

                <p> 
                    <h3> Nuestros Valores:</h3>
                    

                    <ul>
                        <li>Cliente siempre primero</li>
                        <li>Compromiso</li>
                        <li>Pasión</li>
                        <li>Hacer lo correcto</li>
                        <li>Más que un equipo</li>
                        <li>Innovación</li>
                        <li>Comunicación</li>
                    
                    </ul>
                   
                </p>
                    
                <p>
                    <h3> Misión:</h3>
               
                Vivimos entrenando para ganar y conquistar a los consumidores ofreciendo una experiencia premium.
                Hablamos a través del deporte y de la moda con el objetivo de acompañarlos en cada momento de sus
                vidas para que puedan competir, entrenar o lucir su estilo personal, transmitiendo inspiración e
                innovación.
                </p>

                



            </div>

            <%- include('../partials/footer'); %>
    </body>

</html>