<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

    <body>
        <%- include('../partials/header'); %>
            <div id="franja"></div>

            <div class="terminos">
                <h2>Términos y Condiciones</h2>

                <h3>Condiciones Generales:</h3>

                <p>Este contrato describe los Términos y Condiciones Generales (en adelante, los “Términos y
                    Condiciones”) que se aplicarán para la navegación del sitio web www.shoesstation.com.ar, y los servicios
                    ofrecidos en él (en adelante, el “website”). La responsabilidad del uso y los derechos del website
                    son de BRADA S.A. (en adelante, “BRADA”) CUIT: 30-73849573-0.
                </p>

                <h3>Aceptación y conocimiento de los Términos y Condiciones:</h3>

                <p>Cualquier persona (en adelante, “Usuario” o en plural “Usuarios”) que desee acceder y/o utilizar el
                    website o sus servicios, podrá hacerlo sujetándose a los Términos y Condiciones, junto con todas las
                    demás políticas y principios que rigen, y que son incorporados al presente.

                    Los presentes Términos y Condiciones tienen carácter obligatorio y vinculante para las partes. Se
                    aplican a todas las compras y actividades realizadas en el website. El uso del website implica el
                    conocimiento y la aceptación de todos ellos.

                    Las personas que no acepten estos Términos y Condiciones, los cuales tienen carácter vinculante y
                    obligatorio, se deberá abstener de utilizar el sitio web..
                </p>

                <h3>Modificación de los Términos y Condiciones:</h3>

                <p>BRADA se reserva el derecho de modificar los Términos y Condiciones en cualquier momento,
                    haciéndolos público en el website, y pondrá un aviso alertando a los Usuarios que así lo requieran
                    en la suscripción, informando las modificaciones que pudiera sufrir, durante un tiempo razonable.
                    Sin perjuicio de lo anterior, los Usuarios son responsables de leer estos Términos y Condiciones
                    cada vez que ingresen al website para ver si han sufrido modificaciones.

                    Todo Usuario que no se encuentre de acuerdo con las modificaciones sufridas, tendrá la posibilidad
                    de solicitar la baja del sitio
                </p>

                <h3>Registración:</h3>

                <p>El cliente debe registrarse y crear un nuevo usuario dentro del sitio con sus datos personales para
                    poder realizar compras. Deberá ingresar nombre completo, DNI, fecha de nacimiento, género, teléfono
                    y mail. Asimismo, se le pedirá que genere una clave personal para poder ingresar cada vez que así lo
                    requiera a su usuario personal. Además, deberá aceptar las políticas de privacidad del sitio y optar
                    si quiere recibir emails promocionales en su casilla.

                    El Usuario debe leer, entender y aceptar todas las condiciones establecidas en los Términos y
                    Condiciones y en las Políticas de Privacidad, así como también en los demás documentos incorporados
                    a los mismos por referencia, optando de forma expresa por recibir los mismos y toda otra información
                    por medios digitales.

                    Los Usuarios pueden navegar libremente por el website. Sin embargo, para realizar una compra deberán
                    ingresar y completar en todos los campos, cada uno de los datos requeridos por el website en el
                    formulario que les aparecerá al momento del checkout, con los datos solicitados. El Usuario asume la
                    responsabilidad de modificarlos, cada vez que lo considere necesario o así lo solicite.

                    Es obligatorio completar el formulario en todos los campos con datos válidos y verdaderos, de manera
                    exacta y precisa. Para un correcto funcionamiento del sistema, es necesario que los Usuarios
                    mantengan sus datos actualizados. BRADA podrá proceder a verificar la identidad del Usuario y/o de
                    los datos consignados por éste en cualquier momento. BRADA no se responsabiliza por la veracidad o
                    certeza de los datos provistos por los Usuarios. Asimismo, BRADA se reserva el derecho de suspender
                    temporal o definitivamente a los Usuarios en caso de incumplimiento de los Términos y Condiciones,
                    como así también de rechazar solicitudes.

                    La Cuenta es personal, única e intransferible, y está prohibido que un mismo Usuario registre o
                    posea más de una cuenta.

                    En el caso de que estos datos sean olvidados por el Usuario, BRADA cuenta con un servicio de ayuda
                    para recuperarlos. Para esto se deberá hacer click en la opción correspondiente e ingresar el e-mail
                    que se proporcionó al momento de la registración. Al finalizar, el sistema le enviará de manera
                    confidencial a esa cuenta de mail su nombre de Usuario y la clave personal.

                    BRADA se compromete a mantener la confidencialidad de los datos aportados por los Usuarios para su
                    registro, los Usuarios se comprometen a mantener la confidencialidad de su nombre/ Usuario y su
                    clave de acceso. De conformidad con lo expresado en el párrafo anterior, los Usuarios son
                    responsables del uso que se haga de su clave y deberán tener presente que si otras personas tienen o
                    pueden tener en el futuro acceso a la cuenta de e-mail consignada como propia en el formulario de
                    registración, éstas también podrían solicitar su clave de acceso y nombre de Usuario. Es obligación
                    exclusiva del Usuario tomar las medidas pertinentes para que esto no suceda. El Usuario garantiza y
                    responde, en cualquier caso, respecto a la veracidad, exactitud, vigencia y autenticidad de los
                    datos personales aportados en el formulario y es responsable de todas las operaciones que se
                    realicen con su cuenta registrada. El Usuario se compromete a notificar inmediatamente y de manera
                    fehaciente a BRADA, a cualquiera de sus medios de contacto, o a ecommerce@shoesstation.com.ar, cualquier
                    uso no autorizado de su cuenta de Usuario, y a mantenerlo indemne en el caso de que se esto produzca
                    algún daño a la empresa o a terceros. La registración de los Usuarios se realiza ingresando al
                    website, y no tiene costo alguno. En el caso de que BRADA detecte distintas cuentas que contengan
                    datos coincidentes o relacionados entre Usuarios, podrá cancelar, suspender o inhabilitarlas.


                </p>

            </div>

            <%- include('../partials/footer'); %>
    </body>

</html>