

<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>

    <div id="franja"></div>
    


    <div>
        <form class="ca_container_login" action="" method="POST">
            <h2 class="ca_titulo_login">Iniciar Sesión</h2>

            

            <label class= "label_login" for="Email">* Email</label>
            <input class="ca_input_login" type="email" name = "Email" placeholder="">

            <label class= "label_login" for="Password">* Contraseña</label>
            <input class="ca_input_login" type="password" name = "Password" placeholder="">

            <div class="ca_container_recuperar">
                <label class= "label_checkbox" for=""><input type="checkbox" name="recordarPassword" value ="recordarPassword">  Recuerdame</label>
                
            <a class="ca_recuperar_pass" href="#">¿Olvidaste tu Contraseña?</a>
            </div>
            

            <button type="submit" id="btn_login">Iniciar Sesión</button> 

            <p class="ca_registro">¿No tienes una Cuenta?<a href=""> Registrate aquí</a></p>
            
        </form>
    </div>


    <%- include('../partials/footer'); %>
    
    <script src="js/home.js"></script>
</body>
</html>







