<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    
    <div class="linea-al">
    </div>

    <div class="add_product_acl">
        <button class="product_add_acl"> <i class='bx bx-plus-medical'></i> Agregar producto</button>
    </div>
    <div class="filter_catalogo"> 
        <div class="filters-container">
                <button id="btn-filters" class="filters">Filtros</button>
            <div id="menu-filters">
                <form class="form-filter_al">
                    <div class="filters-alc">
                        <h3 class="title_filter">Género</h3>
                        <input type="checkbox" id="hombre" name="hombre" value="hombre">
                        <label for="hombre"> Hombre </label><br>
                        <input type="checkbox" id="mujer" name="mujer" value="mujer">
                        <label for="mujer"> Mujer</label><br>
                    </div>
                    
                    <div class="filters-alc">
                        <h3 class="title_filter">Marcas</h3>
                        <input type="checkbox" id="adidas" name="adidas" value="adidas">
                        <label for="adidas"> Adidas </label><br>
                        <input type="checkbox" id="nike" name="nike" value="nike">
                        <label for="adidas"> Nike</label><br>
                        <input type="checkbox" id="under-armour" name="under-armour" value="under-armour">
                        <label for="under-armour"> Under Armour</label>
                    </div>

                    <div class="filters-alc">
                        <h3 class="title_filter">Talle</h3>
                        <input type="checkbox" id="" name="" value="">
                        <label for=""> 36 </label><br>
                        <input type="checkbox" id="" name="" value="">
                        <label for="adidas"> 37</label><br>
                        <input type="checkbox" id="" name="" value="">
                        <label for=""> 38 </label><br>
                        <input type="checkbox" id="" name="" value="">
                        <label for=""> 39 </label><br>
                        <input type="checkbox" id="" name="" value="">
                        <label for="adidas"> 40 </label><br>
                        <input type="checkbox" id="" name="" value="">
                        <label for=""> 41 </label>
                    </div>
                </form> 
            </div> 
        </div>  
        <section class="container-catalogo">
            <!--
            <div class= "product-catalog">
                <a href="#">
                    <img src="images/ha_003.jpg" class="catal-prod" alt="">
                </a>

                <div class="info-prod-price">
                    <span class="name-prod-al" >Zapatilla Adidas</span>
                    <a href="" class="">
                        Zapatillas adidas <br>
                        para hombres.
                    </a>
                    <span class="price-acl">$15000</span>
                </div>    
            </div>
            -->
            <% productos.forEach(producto => { %>
                <%- include('../partials/productCatalogItem', { producto }); %>
            <% }); %> 
        </section>
    </div>
    <%- include('../partials/footer'); %>
    <script src="js/catalogo.js"></script>    
</body>
</html>